.bg-purple-100 {
    background-color: #f3e8ff;
}
.bg-purple-50 {
    background-color: #faf5ff;
}
.bg-purple-50:hover {
    background-color: #ffffff;
}
.bg-purple-50 button {
    display: none;
}
.bg-purple-50:hover button {
    display: block;
}

.text-purple-900 {
    color: #581c87;
}